<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lu.andlim.belajarchapter3">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BelajarChapter3">
        <activity
            android:name=".MiniChalange.Screen4Activity"
            android:exported="false" />
        <activity
            android:name=".MiniChalange.Screen3Activity"
            android:exported="false" />
        <activity
            android:name=".MiniChalange.Screen2Activity"
            android:exported="false" />
        <activity
            android:name=".MiniChalange.Screen1Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".keempat.HalamanduaActivity"
            android:exported="false" />
        <activity
            android:name=".keempat.HalamansatuActivity"
            android:exported="false" />
        <activity
            android:name=".wisatan.DashhomeActivity"
            android:exported="false" />
        <activity
            android:name=".wisatan.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".wisatan.WebWisataActivity"
            android:exported="false" />
        <activity
            android:name=".wisatan.HomeActivity"
            android:exported="false"
            android:label="Home" />
        <activity
            android:name=".wisatan.LoginActivity"
            android:exported="false"
            android:label="Login" />
        <activity
            android:name=".LatihanKetiga"
            android:exported="false"
            android:label="Latihan Ketiga" />
        <activity
            android:name=".ActivityLyfe"
            android:exported="false"
            android:label="ActivitLyfe" />
        <activity
            android:name=".KalkulatorActivity"
            android:exported="false" />
        <activity
            android:name=".LatihanSatu"
            android:exported="false" />
        <activity
            android:name=".HalamanDua"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".WebView"
            android:exported="false" />
    </application>

</manifest>